<a href="https://colab.research.google.com/github/tamlai-portfolio/SQL-queries-with-IMDB-data/blob/main/SQL-queries-IMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
movie = pd.read_csv('/content/drive/MyDrive/IMDB/title.basics.tsv',sep='\t', header=0)
actor = pd.read_csv('/content/drive/MyDrive/IMDB/name.basics.tsv',sep='\t', header=0)
episode = pd.read_csv('/content/drive/MyDrive/IMDB/title.episode.tsv',sep='\t', header=0)
rating = pd.read_csv('/content/drive/MyDrive/IMDB/title.ratings.tsv',sep='\t', header=0)

<ipython-input-3-32b3eecbbb37>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  movie = pd.read_csv('/content/drive/MyDrive/IMDB/title.basics.tsv',sep='\t', header=0)

In [ ]:
connection = sqlite3.connect('imdb.db')

In [ ]:
%load_ext sql
%sql sqlite:///imdb.db

In [ ]:
movie.to_sql('movie',connection, if_exists = 'replace', index = False)
actor.to_sql('actor',connection, if_exists = 'replace', index = False)
episode.to_sql('episode',connection, if_exists = 'replace', index = False)
rating.to_sql('rating',connection, if_exists = 'replace', index = False)

1463973

In [ ]:
#sample checking data from movie table
%%sql
SELECT * FROM movie LIMIT 5

 * sqlite:///imdb.db
Done.

[('tt0000001', 'short', 'Carmencita', 'Carmencita', '0', '1894', '\\N', '1', 'Documentary,Short'),
 ('tt0000002', 'short', 'Le clown et ses chiens', 'Le clown et ses chiens', '0', '1892', '\\N', '5', 'Animation,Short'),
 ('tt0000003', 'short', 'Pauvre Pierrot', 'Pauvre Pierrot', '0', '1892', '\\N', '5', 'Action,Adventure,Animation'),
 ('tt0000004', 'short', 'Un bon bock', 'Un bon bock', '0', '1892', '\\N', '12', 'Animation,Short'),
 ('tt0000005', 'short', 'Blacksmith Scene', 'Blacksmith Scene', '0', '1893', '\\N', '1', 'Comedy,Short')]

In [ ]:
#sample checking data from actor table
%%sql
SELECT * FROM actor LIMIT 5

 * sqlite:///imdb.db
Done.

[('nm0000001', 'Fred Astaire', '1899', '1987', 'actor,miscellaneous,producer', 'tt0072308,tt0050419,tt0053137,tt0027125'),
 ('nm0000002', 'Lauren Bacall', '1924', '2014', 'actress,soundtrack,archive_footage', 'tt0037382,tt0075213,tt0117057,tt0038355'),
 ('nm0000003', 'Brigitte Bardot', '1934', '\\N', 'actress,music_department,producer', 'tt0057345,tt0049189,tt0056404,tt0054452'),
 ('nm0000004', 'John Belushi', '1949', '1982', 'actor,writer,music_department', 'tt0072562,tt0077975,tt0080455,tt0078723'),
 ('nm0000005', 'Ingmar Bergman', '1918', '2007', 'writer,director,actor', 'tt0050986,tt0083922,tt0050976,tt0069467')]

In [ ]:
#sample checking data from episode table
%%sql
SELECT * FROM episode LIMIT 5

 * sqlite:///imdb.db
Done.

[('tt0031458', 'tt32857063', '\\N', '\\N'),
 ('tt0041951', 'tt0041038', '1', '9'),
 ('tt0042816', 'tt0989125', '1', '17'),
 ('tt0042889', 'tt0989125', '\\N', '\\N'),
 ('tt0043426', 'tt0040051', '3', '42')]

In [ ]:
#sample checking data from rating table
%%sql
SELECT * FROM rating LIMIT 5

 * sqlite:///imdb.db
Done.

[('tt0000001', 5.7, 2064),
 ('tt0000002', 5.6, 279),
 ('tt0000003', 6.5, 2039),
 ('tt0000004', 5.4, 180),
 ('tt0000005', 6.2, 2800)]

## Setting up target:

## What are the purpose of this project:
This is an exploratory data analysis project using SQL with pandas to explore a very large dataset of IMDB.

The dataset can be found at: https://developer.imdb.com/non-commercial-datasets/

## Project exploratory direction:
- Explore the number of movies, tv shows released by time, genre
- Find out what is the most popular movies, tv shows
- Find out the most popular actor/ actress...

## Data cleaning:

### A - Movie table:
- [x] Convert runtimeMinutes to number and replace /N with null values
- [x] Convert startYear and endYear into numberic type with /N is null values

In [ ]:
# convert movie table: how many rows of runtimeMinutes currently have \N
%%sql
SELECT count(*) FROM movie WHERE runtimeMinutes = '\N';

 * sqlite:///imdb.db
Done.

[(7544032,)]

In [ ]:
# convert the /N in movie runtime to null
%%sql
UPDATE movie
SET runtimeMinutes = Null WHERE runtimeMinutes = '\N';

 * sqlite:///imdb.db
7544032 rows affected.

[]

In [ ]:
# convert /N in endYear to Null
%%sql
UPDATE movie
SET endYear = Null WHERE endYear = '\N';

 * sqlite:///imdb.db
10829996 rows affected.

[]

In [ ]:
# conver /N in startYear to Null
%%sql
UPDATE movie
SET startYear = Null WHERE startYear = '\N'

 * sqlite:///imdb.db
1414722 rows affected.

[]

In [ ]:
# conver /N in genres to Null
%%sql
UPDATE movie
SET genres = Null WHERE genres = '\N'

 * sqlite:///imdb.db
484638 rows affected.

[]

### B - Actor table:
- [x] Convert the deathYear of /N to null values

In [ ]:
# convert the deathYear
%%sql
UPDATE actor
SET deathYear = Null WHERE deathYear = '\N'

 * sqlite:///imdb.db
13445697 rows affected.

[]

### C - Episode table:
- [x] Convert the /N to null values

In [ ]:
# convert \N to null values
%%sql
UPDATE episode
SET seasonNumber = Null WHERE seasonNumber = '\N'

 * sqlite:///imdb.db
1701727 rows affected.

[]

In [ ]:
# convert episode number
%%sql
UPDATE episode
SET episodeNumber = Null WHERE episodeNumber = '\N'

 * sqlite:///imdb.db
1701727 rows affected.

[]

In [ ]:
# convert parentTconst
%%sql
UPDATE episode
SET parentTconst = Null WHERE episodeNumber = '\N'

 * sqlite:///imdb.db
0 rows affected.

[]

## Data exploratory analysis

#### 1. What are the type of contents listed on imdb? How many?

In [ ]:
# Note: sqlite does not support to have thousand seperator, it must conducted via printf('%,d', col_name) AS *formatted_col*
%%sql
SELECT titleType, COUNT(*) AS amount FROM movie GROUP BY titleType ORDER BY COUNT(*) DESC;

 * sqlite:///imdb.db
Done.

[('tvEpisode', 8396170),
 ('short', 1007976),
 ('movie', 687760),
 ('video', 295724),
 ('tvSeries', 267274),
 ('tvMovie', 148136),
 ('tvMiniSeries', 55821),
 ('tvSpecial', 48520),
 ('videoGame', 39407),
 ('tvShort', 10365),
 ('tvPilot', 1)]

#### 2. What year has the most content release

In [ ]:
query = """
SELECT startYear, COUNT(*) AS Amount FROM movie GROUP BY startYear ORDER BY COUNT(*) DESC LIMIT 5
"""
df = pd.read_sql_query(query, connection)
df

  startYear   Amount
0      None  1414722
1      2021   493044
2      2022   470632
3      2018   450077
4      2019   444902

#### 3. What is the oldest listed content for each type of content?

In [ ]:
query = """
WITH CTE AS(
SELECT titleType, primaryTitle, startYear, RANK() OVER (PARTITION BY titleType ORDER BY startYear ASC) AS earliest_rank
FROM movie WHERE startYear IS NOT NULL ORDER BY startYear ASC)
SELECT titleType, primaryTitle, startYear, earliest_rank FROM CTE WHERE earliest_rank = 1 ORDER BY titleType
"""

df = pd.read_sql_query(query, connection)
df

,titleType,primaryTitle,startYear,earliest_rank
0,movie,Miss Jerry,1894,1
1,short,Passage de Venus,1874,1
2,tvEpisode,Solser en Hesse,1900,1
3,tvMiniSeries,Solser en Hesse,1900,1
4,tvMovie,The Queen's Messenger,1928,1
5,tvPilot,TV Pilot,1991,1
6,tvSeries,From Sparks: Flames,1924,1
7,tvShort,Thomas Mann: Worte zum Gedchtnis Lessings,1929,1
8,tvSpecial,i,1926,1
9,video,1923 State of the Union,1923,1
10,videoGame,OXO,1952,1

#### 4. What are the genres that has the highest number of released contents?

In [ ]:
%%sql
SELECT genres, COUNT(*) AS number_of_movies
FROM movie
WHERE genres IS NOT NULL AND titleType = 'movie'
GROUP BY genres
ORDER BY COUNT(*) DESC, startYear DESC LIMIT 5;

 * sqlite:///imdb.db
Done.

[('Drama', 127382),
 ('Documentary', 102978),
 ('Comedy', 47814),
 ('Horror', 18214),
 ('Thriller', 15786)]

#### 5. Top 5 movie genres with most content released last 5 years?

In [ ]:
query = """
WITH recentyears AS (
  SELECT startYear, genres, COUNT(*) AS released_num
  FROM movie
  WHERE titleType = 'movie' AND startYear IS NOT NULL AND startYear >= strftime('%Y', 'now') - 5
    AND startYear <= 2024
  GROUP BY startYear, genres
),
rankedgenres AS (
  SELECT startYear, genres, released_num, RANK() OVER (PARTITION BY startYear ORDER BY released_num DESC) AS genre_rank
  FROM recentyears
)

SELECT * FROM rankedgenres WHERE genre_rank <=5
ORDER BY startYear DESC, released_num DESC
"""
df = pd.read_sql_query(query, connection)
df

   startYear       genres  released_num  genre_rank
0       2024  Documentary          2620           1
1       2024        Drama          2085           2
2       2024       Comedy           826           3
3       2024         None           725           4
4       2024     Thriller           514           5
5       2023  Documentary          4724           1
6       2023        Drama          3639           2
7       2023       Comedy          1320           3
8       2023         None           916           4
9       2023       Horror           780           5
10      2022  Documentary          4829           1
11      2022        Drama          3867           2
12      2022       Comedy          1307           3
13      2022       Horror           780           4
14      2022         None           768           5
15      2021  Documentary          4782           1
16      2021        Drama          3527           2
17      2021       Comedy          1035           3
18      2021         None           872           4
19      2021       Horror           643           5
20      2020  Documentary          4447           1
21      2020        Drama          2830           2
22      2020       Comedy           929           3
23      2020         None           588           4
24      2020       Horror           566           5
25      2019  Documentary          4872           1
26      2019        Drama          3309           2
27      2019       Comedy          1101           3
28      2019         None           832           4
29      2019       Horror           576           5

#### 6. What TV series genres are the most popular in terms of quantity?

In [ ]:
%%sql
SELECT genres, COUNT(*) AS number_of_series
FROM movie WHERE genres IS NOT NULL
AND titleType = 'tvSeries'
GROUP BY genres
ORDER BY COUNT(*) DESC, startYear DESC LIMIT 5;

 * sqlite:///imdb.db
Done.

[('Comedy', 36247),
 ('Drama', 24905),
 ('Documentary', 24842),
 ('Reality-TV', 18992),
 ('Talk-Show', 16983)]

#### 7. How many genre are there?

In [ ]:
%%sql
SELECT COUNT(DISTINCT(genres)) FROM movie;

 * sqlite:///imdb.db
Done.

[(2377,)]

#### 8. What series has the longest production time from start to end?

In [ ]:
query = """
SELECT primaryTitle, startYear, endYear, (endYear - startYear) AS Prod_years, genres
FROM movie ORDER BY (endYear - startYear) DESC LIMIT 5
"""

df = pd.read_sql_query(query, connection)
df

,primaryTitle,startYear,endYear,Prod_years,genres
0,Mickey Mouse Classic Shorts,1928,2013,85,"Adventure,Animation,Drama"
1,Chicago Cubs on WGN-TV,1948,2019,71,Sport
2,Der internationale Frhschoppen,1953,2023,70,Talk-Show
3,Crackerjack!,1955,2021,66,"Comedy,Family,Game-Show"
4,KUSA 9News at 10,1956,2022,66,News

#### 9. What are top 10 tv series has highest number of episodes? How many episodes each?

In [ ]:
query = """
SELECT titleType, m.tconst, primaryTitle, genres, COUNT(e.tconst)
FROM movie m
LEFT JOIN episode e ON e.parentTconst = m.tconst
GROUP BY parentTconst ORDER BY COUNT(e.tconst) DESC LIMIT 10
"""

df = pd.read_sql_query(query, connection)
df

,titleType,tconst,primaryTitle,genres,COUNT(e.tconst)
0,tvSeries,tt12164062,NRK Nyheter,News,18593
1,tvSeries,tt0058796,Days of Our Lives,"Drama,Romance",14904
2,tvSeries,tt0056758,General Hospital,"Crime,Drama,Romance",13412
3,tvSeries,tt0048845,As the World Turns,"Drama,Romance",13339
4,tvSeries,tt0069658,The Young and the Restless,"Drama,Romance",13046
5,tvSeries,tt0053494,Coronation Street,"Drama,Romance",10866
6,tvSeries,tt0988827,See the World by Train,Reality-TV,10674
7,tvSeries,tt0044265,Guiding Light,"Drama,Romance",10532
8,tvSeries,tt0044298,Today,"News,Talk-Show",10129
9,tvSeries,tt0344642,Eat Bulaga,"Action,Comedy,Family",10088

#### Data inconsistency:

In [ ]:
# The episodeNumber does not reflect correctly the number of episodes in the TV series.
# Below is the check of which some TV shows have highest episode number of 9999 but the number of tconst under the parentTconst is only 4843
%%sql
SELECT parentTconst, tconst, episodeNumber
FROM episode
ORDER BY episodeNumber DESC LIMIT 1;

 * sqlite:///imdb.db
Done.

[('tt0062595', 'tt1070046', '9999')]

In [ ]:
%%sql
SELECT COUNT(tconst) FROM episode WHERE parentTconst = 'tt0062595'

 * sqlite:///imdb.db
Done.

[(4843,)]

#### 10. Top 10 movies has the highest number of votes and highest rating

In [ ]:
query = """
SELECT primaryTitle, averageRating, numVotes
FROM movie m
JOIN rating r ON m.tconst = r.tconst
WHERE titleType = 'movie'
ORDER BY numVotes DESC, averageRating DESC LIMIT 10
"""
df = pd.read_sql_query(query, connection)
df

                                        primaryTitle  averageRating  numVotes
0                           The Shawshank Redemption            9.3   2920811
1                                    The Dark Knight            9.0   2901760
2                                          Inception            8.8   2577377
3                                         Fight Club            8.8   2353264
4                                       Forrest Gump            8.8   2284287
5                                       Pulp Fiction            8.9   2244214
6                                       Interstellar            8.7   2135934
7                                         The Matrix            8.7   2075217
8                                      The Godfather            9.2   2035423
9  The Lord of the Rings: The Fellowship of the Ring            8.9   2028196

#### 11. What are the movie genres has the highest number of voting? Highest average rating?

In [ ]:
query = """
SELECT genres,
       ROUND(SUM((averageRating*numVotes)),2) AS total_voting_points,
       SUM(numVotes) AS total_votes,
       ROUND(SUM((averageRating*numVotes))/SUM(numVotes),2) AS average_rating FROM movie m
JOIN rating r ON m.tconst = r.tconst
WHERE titleType = 'movie'
GROUP BY genres
ORDER BY (averageRating*numVotes) DESC LIMIT 10
"""
df = pd.read_sql_query(query, connection)
df

,genres,total_voting_points,total_votes,average_rating
0,"Adventure,Animation,Drama",30208419.3,3903763,7.74
1,"Action,Comedy,Documentary",2186381.4,321357,6.80
2,"Adventure,Mystery,Sci-Fi",5760099.6,841515,6.84
3,"Action,Family,Sport",610201.3,100033,6.10
4,"Horror,Mystery,Thriller",104047258.4,16295401,6.39
5,"Film-Noir,Thriller",949746.3,125827,7.55
6,"Drama,History,Thriller",17391089.6,2372388,7.33
7,"Adventure,Drama,Sport",732463.1,101774,7.20
8,"Film-Noir,Mystery,Thriller",1923264.0,244226,7.87
9,"Biography,Crime,Mystery",301620.8,44356,6.80

#### 12. What TV shows have the highest number of votes aggregating from all episodes?

In [ ]:
query = """
SELECT
    primaryTitle,
    m.tconst, SUM(numVotes) AS Votes_number,
    ROUND(SUM((averageRating*numVotes))/SUM(numVotes),2) AS average_series_rating,
    COUNT(e.tconst) AS total_eps
FROM movie m
JOIN episode e ON m.tconst = e.parentTconst
JOIN rating r ON e.tconst = r.tconst
WHERE titleType = 'tvSeries'
GROUP BY parentTconst
ORDER BY SUM(numVotes) DESC, COUNT(e.tconst) DESC LIMIT 10"""

df = pd.read_sql_query(query, connection)
df

       primaryTitle     tconst  Votes_number  average_series_rating  total_eps
0   Game of Thrones  tt0944947       4483168                   8.39         74
1   Attack on Titan  tt2560140       3058469                   9.22         98
2         One Piece  tt0388629       2627211                   8.79       1126
3      Breaking Bad  tt0903747       2278254                   9.17         62
4  The Walking Dead  tt1520211       2213021                   8.09        177
5      The Simpsons  tt0096697       1568900                   7.53        767
6      Supernatural  tt0460681       1542988                   8.41        327
7      Black Mirror  tt2085059       1338612                   7.81         27
8        Doctor Who  tt0436992       1321827                   7.81        175
9           Friends  tt0108778       1279061                   8.34        234